.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    width: 330px;
    background-color: #4c4c57;
    color: white;
    text-align: right;
    font-size: 30px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 10px;
    border-radius: 15px;
    overflow: hidden; 
    position: relative;
}

.display .workingNumber {
    font-size: 48px;
    align-self: flex-end;
    white-space: nowrap; 
}

.button-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 5px;
    border: none;
    background: #43434d;
    color: #30c67b;
    font-size: 30px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}