html {
    color: #30c67b;
    background: linear-gradient(70deg, #5f5f5f, #30c67b, #5f5f5f);
    background-size: 200% 200%;
    animation: color 20s ease-in-out infinite;
}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
    width: 330px;
    background-color: #4c4c57;
    color: white;
    text-align: right;
    font-size: 30px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 10px;
    border-radius: 15px;
    overflow: hidden; 
    word-wrap: break-word;
    word-break: break-all;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 4px 10px;
}

.display .workingNumber {
    font-size: 40px;
    align-self: flex-end;
    word-wrap: break-word;
    word-break: break-all;
}

.button-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin: 5px;
    border: none;
    background: #43434d;
    color: #30c67b;
    font-size: 30px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    box-shadow: rgba(0, 0, 0, 0.30) 0px 4px 10px;
    transition: background 0.3s, color 0.3s;
}

button:hover {
    background: #30c67b; 
    color: #43434d;
}

